body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left, .right {
    padding: 20px;
    box-sizing: border-box;
}

.left {
    flex: 62.5%;
    border-right: 1px solid #ccc;
}

.right {
    flex: 37.5%;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    display: block;
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 8px;
}

#products button {
    width: 30%;
    margin: 5px;
    display: inline-block;
}

#specialButtons {
    display: flex;
    justify-content: space-between;
}

#specialButtons button {
    width: 22%;
    margin: 5px;
    padding: 20px;
    font-size: 18px;
}

#currentOrder {
    margin-top: 20px;
}

#currentOrder h3, #currentOrder p {
    font-size: 18px;
}

.client {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.client h3, .client p {
    font-size: 18px;
}

#clients {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
