body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#controls {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
    background: white;
    border-top: 1px solid #ccc;
}

#controls button {
    width: 50px;
    height: 50px;
    font-size: 24px;
}

#clientes-container {
    margin-top: 20px;
    flex-grow: 1;
    width: 80%;
}

.cliente {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

#pop-up-adicionar, #pop-up-remover {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    z-index: 1000;
}

.hidden {
    display: none;
}
